matplotlib==3.8.2
seaborn==0.13.2
pandas==2.2.1
pylatexenc

jax==0.4.23
jaxlib==0.4.23
diffrax==0.4.1
chex==0.1.85
flax==0.7.5
gymnax==0.0.6
optax==0.1.7
distrax==0.1.5
evosax==0.1.6
equinox==0.11.2

qiskit==0.45.1
qiskit-dynamics==0.4.2
qiskit-ibm-provider
qiskit_ibm_runtime

scipy==1.11.4
scikit-learn==1.4.2